.menu-box {
  height: 100px;
  align-items: center;

  .logo {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -.02em;
    position: relative;
    white-space: nowrap;
  }

  .sign-in {
    font-weight: 700;
    margin-top: 0.40em;
    margin-right: 15px;
  }

  .controls-sec {
    justify-content: flex-end;
  }

  .search-button {
    margin-top: 0.30em;
    margin-right: 25px;
  }

  .subscribe {
    font-weight: 700;
    color: #fff;
    background: #000;
    gap: 0.4em;
    justify-content: center;
    letter-spacing: inherit;
    line-height: 1;
    padding: calc(0.75em*var(--multiplier, 1)) calc(1.15em*var(--multiplier, 1));
    border-radius: 100px;
  }

  .nav {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-top: 4px;


    align-items: center;
    gap: 32px;

    font-size: 1rem;

    li {
      font-weight: 700;
      cursor: pointer;
    }
  }

  button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--darker-gray-color);
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    outline: none;
    padding: 0;
    width: 30px;
  }
}

a {
  color: #15171a;
  text-decoration: none;
}

.hidden_modal {
  display: none;
  transition: all .3s ease-in-out;
}

.modal_nav {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-image: linear-gradient(to bottom right,rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  position: absolute;
  z-index: 1000;
  transition: all .3s ease-in-out;
}

.search_box {
  background: #fff;
  padding: 20px 25px;
  border-radius: 8px;

  svg{
    margin-top: -3px;
  }

  .search_input {
    background: none;
    width: 23em;
    border: 0;
    margin-left: 5px;

    outline: 2px solid transparent;
    outline-offset: 2px;
    font-family: Manrope,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  }
}